header {
    background: url('../imgs/png/header/header_bg.png') no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

.header_logo {
    width: 75%;

    animation: fadeIn;
    animation-duration: 2s;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    background-color: #181E42;
    cursor: pointer;
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    
  }

  .arrow_up {
    margin-right: 0;
  }
  
  #myBtn:hover {
    border: 3px solid #DE9A35;
  }
  



/* HISTORY */

.hist_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.rectangle {
    display: none;

}

.hist_text {
    border: none;
    font-size: 16px;
    line-height: 32px;
    color: #181E42;
    padding: 10%;
    margin-bottom: 0;
    background-color: #FCF5EB;
}

.hist_img {
    max-width: 100%;
    height: 100%;
}


/* SECTION TITLES */

.section_title {
    text-align: center;
    font-weight: 900;
    margin-top: 48px;
    margin-bottom: 0;
}

.scratch_container {
    text-align: center;
}

.scratch {
    max-width: 200px;
    text-align: center;
}



/* TOP DISHES */

.dish_cards_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    gap: 24px;
}


.dish_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid #181E42;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(24 30 66 / 0.1);
}

.dish_dot_and_png_container {
    width: 100%;
    height: 50%;
}

.dish_info_and_dots_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FCF5EB;
    height: 60%;
    border-radius: 0 0 15px 15px;
}

.dot_container_sup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3%;
}

.dot_container_inf {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3%;
    background-color: #FCF5EB;
    border-radius: 0 0 15px 15px;
}

.dot {
    display: block;
    background-color: #181E42;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(24 30 66 / 0.1);
}

.dish_png_container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 220px;
}

.dish_png {
    max-height: 154px;
}


.dish_svg_container {
    height: 54px;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    margin-top: -50px;
}

.dish_info_container {
    background-color: #FCF5EB;
    padding: 5%;
}


/* TEAM */

.team_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 64px;
    padding: 5%;
}

.team_card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3%;
    flex-wrap: wrap;
}

.member_png {
    max-height: 309.5px;
}

.member_svg_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member_role {
    margin-bottom: 0;
}

.member_description {
    height: 100px;
}


/* CAROUSEL */

.img_gallery {
    margin-bottom: 32px;
    max-width: 80vw;
    margin: 0 auto;
}

.carousel-inner {
    border-radius: 15px;
    border: 16px solid #181E42;
}

.carousel-caption {
    background-color: rgba(98.8%, 96.1%, 92.2%, 0.90);
    color: #181E42;
    border-radius: 24px;
    padding: 0;
}

h5 {
    margin-bottom: 0;
}

.carousel-item_description {
    display: none;
}




/* FOOTER */

footer {
    margin-top: 100px;
    background-color: #FCF5EB;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 48px;
    padding-left: 5%;
}



.footer_logo {
    width: 50%;
    opacity: 50%;
    min-width: 200px;
    padding-top: 32px;
}



.footer_title {
    font-weight: 500;
    letter-spacing: 5px;
    color: #181E42;
}

.social_gap {
    display: flex;
    gap: 32px;
    margin-bottom: 50px;
}

.link {
    color: #545876;
}

.location {
    list-style-type: none;
    color: #545876;

}

i {
    margin-right: 8px;
}


.footer_logo {
    width: 25%;

}





/* MEDIA QUERIES */

@media screen and (min-width: 600px) {

    .header_logo {
        width: 50%;
    }

    .dish_svg_container {
        margin-top: -64px;
    }

    .team_container {
        grid-template-columns: repeat(2, 1fr);

    }

    .carousel-item_description {
        display: block;
    }

    .carousel-caption {
        padding: 10px 0;
    }

}





@media screen and (min-width: 1203px) {


    .hist_container {
        flex-direction: row;
        padding: 5% 0;
        gap: 24px;
    }


    .hist_rectangle {
        background-color: #181E42;
        min-height: 100%;
        width: 150px;
        border-radius: 0 8px 8px 0;
    }

    .hist_img {
        border-radius: 8px 0 0 8px;
    }

    .hist_text {
        border: 2px solid #181E42;
        border-radius: 8px;
        padding: 5%;
        background-color: white;
    }

    .dish_cards_container {
        flex-direction: row;
    }

    .dish_svg_container {
        margin-top: -52px;
    }

    .team_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img_gallery {
        max-width: 60vw;
    }

    footer {
        grid-template-columns: repeat(4, 1fr);
        padding: 48px;
    }

}